<div class="custom-hero__mobile-content">
  <div class="custom-hero__mobile-text">
    <h1>{{ section.settings.title }}</h1>
    <p>{{ section.settings.subtitle }}</p>
  </div>

  <div class="custom-hero__mobile-image">
    <img
      src="{{ 'background-mobile.png' | asset_url }}"
      alt=""
      width="750"
      height="1000"
    >
    <a
      class="custom-hero__mobile-button"
      href="{{ section.settings.cta_link }}"
    >
      <span class="custom-hero__mobile-button-text">
        {{ section.settings.cta }}
      </span>

      <img
        src="{{ 'white-arrow.svg' | asset_url }}"
        alt=""
        width="10"
        height="10"
        class="custom-hero__mobile-button-arrow"
    ></a>
  </div>
</div>
